@model IEnumerable<MVCDoctoresAWS.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDoctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHospital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                <img src="https://s3-imagenes-doctores-mrc.s3.amazonaws.com/@item.Imagen" width="200" alt="@item.Apellido"/>
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Doctores" asp-action="UpdateDoctor" asp-route-id="@item.IdDoctor">Edit</a>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a class="nav-link text-dark" asp-area="" asp-controller="Doctores" asp-action="Delete"asp-route-id="@item.IdDoctor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
